#search {
	border: 10px solid black;
	width: 100%;
	border-radius: 15px;
	padding-left: 10px;
}

#search:focus {
	outline: 0;
}

#body-container {
	background-image: url("../images/floor.jpg");
}

#advSearch {
	text-align: right;
	font-family: Arial;
	font-size: 20px;
	float: right;
}

#advSearch > a {
	color: black;
	font-weight: bold;
}

img {
	margin-top: 14%;
	margin-bottom: 20px;
}