* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 100px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

#footer-row {
	text-align: center;
}

hr {
	border-color: black; border-style: solid; border-width: 1px
}

.footer-link {
	color: black;
}

#contact-us {
	padding-left: 15px;
}

#home {
	padding-right: 15px;
}

