<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app1/stylesheet.css' %}">


<body id = 'body-container'> 
<input id = 'search' type = 'text' name = 'playername'  value = 'Search Players' >
</input>
<div id = 'advSearch'><a> Advanced Search </a></div>
{% if player_list %}
	<div id = 'accordion-container'>
	{% for player in player_list %}
		<button  class = 'header'> {{ player.info.name }} <span style ='font-size:12px'> {{ player.stats.team }} </span> <span style = 'float:right'> {{ player.info.position }}</span> </button>
		<div class = 'content'>
		<p> Team: {{ player.stats.team }}</p>
		<p> Draft Year: {{ player.info.draft_year }} </p>
		</div>
	{% endfor %}
	</div>
{%else%}
	<div id = 'noResults'> <spa>No results found</span></div>
{%endif%}

</body>

<script type = "text/javascript" src = "{% static 'app1/script.js' %}"></script>
