.header {
	color: black;
	background-color: white;
	border-radius:  10px;
	width: 1200px;
	height: 50px;
	font-size: 37px;
	font-family: "Courier New", Courier, monospace;
	margin: 0 auto;
	display: block;
	text-align: left;
	border: 2px solid black
}

.content {
	background-color: black;
	border: 2px solid black;
	width: 1175px;
	display: block;
	text-align: left;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 20px;
	height: 210px;
	min-height: 210px;
}

.info {
	position: absolute;
	margin-top: 20px;
	float: left;
	margin-left: 30px;
}

.info span {
	color: white;
	font-family: Georgia, serif;
	display: inline-block;
	margin-bottom: 17px;
	font-size: 19px;
}

.stats {
	margin-top: 27px;
	float: left;
	font-family: Georgia, serif;
	color: white; 
	border: 2px solid white; 
	border-collapse: collapse;
	position: absolute;
	margin-left: 300px;
}

.stats th, td {
	font-size: 19px;
	border: 2px solid white;
	padding: 8px;
	text-align: center;
}

.pic {
	border: 2px solid white;
	position: absolute;
    height: 200px;
    width: 150px;
    float: left;
    margin-left: 1000px;
}

.view-more {
	color: #8A2E8A; 
	font-family: "Courier New", Courier, monospace; 
	float: left; 
	margin-top: 207px; 
	position: absolute;
	margin-left: 1045px;
}

#search {
	height: 50px;
	width: 1175px;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 2px solid black;
	font-size: 35px;
	color: #B2CCCC
}

#body-container {
	background-image: url("images/floor.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
	
}

#advSearch {
	width: 1175px;
	height: 28px;
	display: block;
	margin: 0 auto;
	text-align: right;
	font-family: Arial;
	font-size: 20px;
}

#advSearch > a {
	color: #85A7A7;
	font-weight: bold;
}

#noResults {
	font-family: Arial;
	width: 300px;
	height: 70px;
	padding-top: 50px;
	color: black;
	font-size: 30px;
	display: block;
	margin: 0 auto
}

#noResults > span {
	display: block;
	margin: 0 auto;
}

